
*{
    list-style: none;
    text-decoration:none;
}
nav{
    display: flex;
    align-items:center;
    background:grey;
    height:2em;
}
nav ul{
    display: flex;
    font-size: 28px;
}
nav ul li{
    padding:5px;
}
nav ul li:hover{
    background-color:rgba(222,119,11,0.5);
}
.main{
    width:100%;
    height:10em;
    background:rgba(67,34,33,0.6);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
footer{
    width:100%;
    height:8em;
    background:rgba(127,134,93,0.6);
    display: flex;
}